In [28]:
#!/usr/bin/env python

# make sure to install these packages before running:
# !pip install pandas
# !pip install sodapy

import pandas as pd
from sodapy import Socrata

# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("data.pa.gov", None)

# Example authenticated client (needed for non-public datasets):
# client = Socrata(data.pa.gov,
#                  MyAppToken,
#                  userame="user@example.com",
#                  password="AFakePassword")

#Results returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("4xnz-vz4w")

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [30]:
len(results_df)

67

In [31]:
results_df['percent_repub'] = round((results_df['republican_voters'].astype('int')/results_df['total_voters'].astype('int'))*100,2)
results_df.head()

,county,total_voters,democratic_voters,republican_voters,other_voters,percent_repub
0,ADAMS,72341,20050,40754,11537,56.34
1,ALLEGHENY,942747,539917,267977,134853,28.43
2,ARMSTRONG,44820,13658,25974,5188,57.95
3,BEAVER,116918,54252,47206,15460,40.38
4,BEDFORD,34238,7264,23728,3246,69.30

In [32]:
results_df = results_df.sort_values(by=['percent_repub'],ascending=False)
results_df.head()

,county,total_voters,democratic_voters,republican_voters,other_voters,percent_repub
4,BEDFORD,34238,7264,23728,3246,69.30
28,FULTON,9837,2014,6801,1022,69.14
52,POTTER,11310,2305,7755,1250,68.57
33,JUNIATA,14487,3364,9630,1493,66.47
49,PERRY,30027,6589,19669,3769,65.50

In [33]:
results_df_top10 = results_df.head(10)
results_df_top10[['county','percent_repub']]

        county  percent_repub
4      BEDFORD          69.30
28      FULTON          69.14
52      POTTER          68.57
33     JUNIATA          66.47
49       PERRY          65.50
54      SNYDER          64.90
43     MIFFLIN          64.70
58       TIOGA          64.56
30  HUNTINGDON          63.40
32   JEFFERSON          62.45

In [34]:
for ind in results_df_top10.index: 
    print('{0}, {1}% republican'.format(results_df_top10['county'][ind], results_df_top10['percent_repub'][ind]))

BEDFORD, 69.3% republican
FULTON, 69.14% republican
POTTER, 68.57% republican
JUNIATA, 66.47% republican
PERRY, 65.5% republican
SNYDER, 64.9% republican
MIFFLIN, 64.7% republican
TIOGA, 64.56% republican
HUNTINGDON, 63.4% republican
JEFFERSON, 62.45% republican